
 ____        _ _    ____             __   ____   ___  _  __   
/ ___|  __ _| | |_ / ___|___  _ __  / _| |___ \ / _ \/ |/ /_  
\___ \ / _` | | __| |   / _ \| '_ \| |_    __) | | | | | '_ \ 
 ___) | (_| | | |_| |__| (_) | | | |  _|  / __/| |_| | | (_) |
|____/ \__,_|_|\__|\____\___/|_| |_|_|   |_____|\___/|_|\___/ 
                                                              
	 ____       _              ____                       
	| __ ) _ __(_)_ __   ___  |  _ \  ___ _ __ ___   ___  
	|  _ \| '__| | '_ \ / _ \ | | | |/ _ \ '_ ` _ \ / _ \ 
	| |_) | |  | | | | |  __/ | |_| |  __/ | | | | | (_) |
	|____/|_|  |_|_| |_|\___| |____/ \___|_| |_| |_|\___/ 
							
				    AUTHORIZED ACCESS ONLY!
--------

   Distribution : {{ grains['os'] }}
 Release Number : {{ grains['osrelease'] }}
 Kernel Version : {{ grains['kernelrelease'] }}
       Hostname : {{ grains['nodename'] }}
      CPU Count : {{ grains['num_cpus'] }}
   Total Memory : {{ grains['mem_total'] }}

    ** THIS SYSTEM IS MANAGED BY SALT! **

