{% set versions = salt["grains.filter_by"]({
    "dev": {
        "rabbitmq-server": "3.5.1-2.7",
        "rabbitmq-server-plugins": "3.5.1-2.7",
    },
    "devint": {
        "rabbitmq-server": "3.5.1-2.7",
        "rabbitmq-server-plugins": "3.5.1-2.7",
    },
    "qa": {
        "rabbitmq-server": "3.5.1-2.7",
        "rabbitmq-server-plugins": "3.5.1-2.7",
    },
    "staging": {
        "rabbitmq-server": "3.5.1-2.7",
        "rabbitmq-server-plugins": "3.5.1-2.7",
    },
    "prod": {
        "rabbitmq-server": "3.5.1-2.7",
        "rabbitmq-server-plugins": "3.5.1-2.7",
    },
},
grain="environment",
default="prod")
%}