{% set versions = salt["grains.filter_by"]({
    "dev": {
        "java-1_8_0-openjdk-headless": "1.8.0.60-4.11",
    },
    "devint": {
        "java-1_8_0-openjdk-headless": "1.8.0.60-4.11",
    },
    "qa": {
        "java-1_8_0-openjdk-headless": "1.8.0.60-4.11",
    },
    "staging": {
        "java-1_8_0-openjdk-headless": "1.8.0.60-4.11",
    },
    "prod": {
        "java-1_8_0-openjdk-headless": "1.8.0.60-4.11",
    },
},
grain="environment",
default="prod")
%}