{% set versions = salt["grains.filter_by"]({
    "dev": {
        "zulu": "zulu-8",
    },
    "devint": {
        "zulu": "zulu-8",
    },
    "qa": {
        "zulu": "zulu-8",
    },
    "staging": {
        "zulu": "zulu-8",
    },
    "prod": {
        "zulu": "zulu-8",
    },
},
grain="environment",
default="prod")
%}
