{% set versions = salt["grains.filter_by"]({
    "dev": {
        "erlang": "18.0.3-8.1",
    },
    "devint": {
        "erlang": "18.0.3-8.1",
    },
    "qa": {
        "erlang": "18.0.3-8.1",
    },
    "staging": {
        "erlang": "18.0.3-8.1",
    },
    "prod": {
        "erlang": "18.0.3-8.1",
    },
},
grain="environment",
default="prod")
%}