{% set versions = salt["grains.filter_by"]({
    "dev": {
        "salt-minion": "2015.8.7-13.1",
        "python-pyzmq": "14.7.0-3.1",
    },
    "devint": {
        "salt-minion": "2015.8.7-13.1",
        "python-pyzmq": "14.7.0-3.1",
    },
    "qa": {
        "salt-minion": "2015.8.7-13.1",
        "python-pyzmq": "14.7.0-3.1",
    },
    "staging": {
        "salt-minion": "2015.8.7-13.1",
        "python-pyzmq": "14.7.0-3.1",
    },
    "prod": {
        "salt-minion": "2015.8.7-13.1",
        "python-pyzmq": "14.7.0-3.1",
    },
},
grain="environment",
default="prod")
%}