{% set versions = salt["grains.filter_by"]({
    "dev": {
        "nginx": "1.8.0-2.3",
    },
    "devint": {
        "nginx": "1.8.0-2.3",
    },
    "qa": {
        "nginx": "1.8.0-2.3",
    },
    "staging": {
        "nginx": "1.8.0-2.3",
    },
    "prod": {
        "nginx": "1.8.0-2.3",
    },
},
grain="environment",
default="prod")
%}